{% extends 'base.html' %}
{% load static %}


{% block content %}
    {% block scripts %}
        <script src="{% static 'js/main.js' %}" defer></script>
    {% endblock scripts %}
    <div class="container-fluid" style="margin-top: 2rem">
        <div class="row">
            {% for exam in exams %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm"><!-- HERE -->
                        <div class="card-body">
                            <h5 class="card-title">{{ exam.name }}</h5>
                            <p class="card-text">{{ exam.description }}</p>
                            <p class="card-text">مدة الاختبار: {{ exam.duration }} دقيفة</p>
                            <p class="card-text">الدرجة الكلية: {{ exam.total_marks }}</p>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary modal-button" data-pk="{{ exam.pk }}"
                                    data-name="{{ exam.name }}"
                                    data-questions="{{ exam.number_of_questions }}"
                                    data-duration="{{ exam.duration }}"
                                    data-target="#examStartModal"
                                    data-toggle="modal">
                                ابدأ الاختبار
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="examStartModal" tabindex="-1"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">تعليمات مهمة</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" id="modal-body-confirm">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">العودة
                                            </button>
                                            <button type="button" id="start-button" class="btn btn-success">الدخول للاختبار</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- /.card -->
                </div><!-- /.col-md-3 -->
            {% endfor %}
        </div><!-- /.row -->
    </div>
{% endblock %}